html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: bottom;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.clearfix:before,
.clearfix:after{
  display: table;
  content: "";
}
.clearfix:after{
  clear: both;
}
.hidden{
  display: none;
}
body{
  background: #ddd;
  color:#333;
  font-family: 'Lato', sans-serif;
}
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  padding:10px;
  z-index: 9999;
  background: url('rolling.gif') 50% 50% no-repeat rgb(249,249,249);
}
.solid-color {
    background: yellowgreen none repeat scroll 0 0;
    height: 180px;
}
.wrapper > div{
  padding-left: 15px;
  padding-right: 15px;
}
.text-muted{
  color: #666;
}
.text-center{
  text-align: center;
}
.wrapper {
    margin: -120px auto auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 80%;
}
.option-listing{
  width: 25%;
  float: left;
}
.product-listing{
  width: 75%;
  float: left;
}
.product-container{
  margin-left: -15px;
}
.heading{
  font-size: 30px;
  font-family: 'Vidaloka', serif;
}
.category-listing {
    margin-top: 15px;
    background: white;
    padding: 15px;
    min-height: 250px;
    padding-top: 10px;
    -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-name: slideIn;
            animation-name: slideIn;
}
.category {
    margin-top: 10px;
    padding-bottom: 5px;
}
.category label{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #666;
  font-size: 14px;
}
.category .heading {
    font-size: 18px;
    padding-bottom: 8px;
    border-bottom: 1px dotted #ddd;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    margin-bottom: 0px;
}
.product{
  width: calc(33% - 30px);
  margin: 15px;
  padding:10px;
  background: white;
  float: left;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-name: slideIn;
          animation-name: slideIn;
}
.product-image {
    max-height: 200px;
    max-width: 100%;
}
.product-image-container{
  background: url('blurredImage.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  min-height: 200px;
  margin-bottom: 10px;
}
.product-category{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.product-name{
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: capitalize;
}
.product-meta > div {
    margin-top: 3px;
}
.sort-container {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}
.heading-sort-container > .heading{
  float: left;
}
.slow-connection{
  margin-top:50px;
  font-size:20px;
  display: none;
}
.filter-trigger {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
    height: 60px;
    line-height: 2.95;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 60px;
}
.filter-trigger > img {
    width: 30px;
}
.option-listing .apply-button {
    background: yellowgreen;
    margin-top: 15px;
    padding: 8px 13px 10px 12px;
    width: auto;
}
.option-listing .apply-button, .filter-trigger{
  display: none;
}
.show{
  display: block !important;
}
@-webkit-keyframes slideIn
{
  0%
    {
      opacity:0;
      filter:alpha(opacity=0);
      -webkit-transform:translateY(48px);
      transform:translateY(48px);
    }
  100%
    {
      opacity:1;
      filter:alpha(opacity=100);
      -webkit-transform:translateY(0px);
      transform:translateY(0px);
    }
}
@keyframes slideIn
{
  0%
    {
      opacity:0;
      filter:alpha(opacity=0);
      -webkit-transform:translateY(48px);
      transform:translateY(48px);
    }
  100%
    {
      opacity:1;
      filter:alpha(opacity=100);
      -webkit-transform:translateY(0px);
      transform:translateY(0px);
    }
}
@media only screen and (min-width : 240px) and (max-width : 480px), only screen and (min-width : 481px) and (max-width : 768px) {
  .category-listing, .product-listing{
    -webkit-animation-iteration-count: 0;
            animation-iteration-count: 0;
  }
  .option-listing {
      background: #eeeeee none repeat scroll 0 0;
      height: 100%;
      left: 0;
      padding-top: 20px;
      position: fixed;
      top: 0;
      width: 100%;
      display: none;
  }
  .filter-trigger{
    display: block;
  }
  .option-listing div.apply-button{
    display: inline-block;
  }
  .product-container{
    margin-left: 0;
  }
  .option-listing{
    margin-bottom: 30px;
  }
}
@media only screen and (min-width : 240px) and (max-width : 480px) {
	.wrapper, .product-listing{
		width: 100%;
		padding:0;
	}
	.heading-sort-container.clearfix {
	    margin-bottom: 0px;
	}
	.product-container {
	    margin-left: 0;
	}
	.product {
	    animation-iteration-count: 0;
	    margin: 0;
	    width: calc(33% + 1px);
			border: 1px solid #ddd;
	}
	.wrapper > div.product-listing{
		padding-left: 0;
		padding-right: 0;
	}
	.product-image-container{
		min-height: 130px;
	}
	.product-image{
		max-height: 130px;
	}
	.product-category{
		font-size: 10px;
	}
	.product-meta{
		font-size: 12px;
	}
	.product-name{
		font-size: 18px;
	}
  .solid-color {
      height: 130px;
  }
  .heading-sort-container.clearfix {
      padding: 0 10px 10px;
  }
  .sort-container{
      margin-right:0;
  }
  .product-image {
      max-height: 85px;
  }
  .product-image-container {
      min-height: 85px;
  }
}
@media only screen and (min-width : 481px) and (max-width : 768px) {
	.wrapper{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -140px;
  }
  .wrapper > div{
    width: 100%;
  }
  .product{
    width: calc(33% - 15px);
    margin: 15px 15px 15px 0;
  }
  .product-container{
    margin-left: 0;
  }
	.wrapper > div.product-listing{
		padding-left: 0;
		padding-right: 0;
	}
  .heading-sort-container{
    text-align: center;
  }
  .heading-sort-container > div{
    float: none;
    margin: 5px 0 0;
  }
  .heading-sort-container > div.heading{
    float: none;
  }
}
@media only screen and (min-width : 769px) and (max-width : 1200px) {
  .wrapper{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .product-image-container{
    min-height: 170px;
  }
  .product-image{
    max-height: 170px;
  }
}
